$backgroundColor: #efefef;
$radius: 40%;

.request-body-input-container {
  width: 300px;
  height: 100px;
}

.request-body-input {
  width: 300px;
  height: 100px;
}

.input-url-display {
  border: solid;
  margin: 2px;
  padding: 2px;
  min-width: 300px;
  height: 1.5em;
}

form {
  display: inline-block;
  margin: auto;
  width: 200px;

  label {
    display: flex;
    margin: 1rem 0;

    &.methods {
      span {
        cursor: pointer;
        margin-right: 1rem;
        padding: .25rem .5rem;
        background: #ccc;

        &:hover,
        &.active {
          background: #fff;
        }
      }
    }
  }
}